services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      - db-data:/data/db

  backend:
    build: ./backend
    container_name: dd-backend
    restart: always
    network_mode: "service:mongodb"
    environment:
      - NODE_OPTIONS=--dns-result-order=ipv4first

  frontend:
    build: ./frontend
    container_name: dd-frontend
    restart: always
    command: npx ng serve --host 0.0.0.0 --port 4200 --disable-host-check

  nginx-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - mongodb

volumes:
  db-data: